body{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    width: 60vmin;
    height: 85vmin;
    background-color: rgb(22, 22, 22);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content:space-between;
    border-radius: 10px;
}
.clicks{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    row-gap: 20px;
}
.clicks div button{
    width: 10vmin;
    height: 10vmin;
    font-weight: bold;
    font-size: 30px;
    border-radius: 5rem;
    margin-bottom: 3vmin;
    border: none;
    color: white;
    background-color: gray;
}
.clear{
    font-weight: bold;
    width: 100%;
    height: 10vmin;
    font-size: 30px;
    border: none;
    margin-bottom: 3vmin;
    margin-left: 2vmin;
    color: white;
    background-color: gray;
    border-radius: 1rem;
}
.clear:hover{
    background-color: rgb(14, 139, 227);
}
button:hover{
    cursor: pointer;
    opacity: 0.8;
}
.display {
width: 100%;
height: 14vmin;
background-color: #333;
color: white;
padding: 30px 20px;
box-sizing: border-box; 
font-size: 40px; 
border-top-left-radius: 10px;
border-top-right-radius: 10px;
}